::placeholder {
  color: rgba(255, 255, 255, 0.637);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.603);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.616);
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  background: rgb(15, 67, 71);
  background: linear-gradient(
      125deg,
      rgba(13, 31, 43, 0.8) 0%,
      rgba(13, 31, 43, 0.6) 50%,
      rgba(13, 31, 43, 0.8) 100%
    ),
    url("../images/contactbg2.jpg");
  background-size: cover;
  /* background-repeat: no-repeat; */
  overflow: scroll;
  overflow-x: hidden;
  /* backdrop-filter: blur(0px);  */
  height: 100vh;
}
main {
  /* margin-top: 80px; */
  width: 100%;
  padding: 2% 0%;

  overflow: hidden;

  /* height: auto; */
}
header {
  width: 100%;
  height: 80px;
  background-color: var(--background);
  /* position: fixed; */
  z-index: 1;
  top: 0;
  right: 0;
  transition: all 1000ms;
}
.nav-scrolled {
  --logo: #00adba;
  --nav: rgba(56, 52, 52, 0.753);
  --background: white;
  /* transition: background-color 1000ms ease-in-out; */
  /* background-color: white; */
}
header div {
  transition: all 1000ms;
  /* transition: background-color 1000ms; */
}
.header-container {
  width: 100%;
}
.inner-heading ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.inner-heading ul li {
  width: 100%;
  height: 100%;
  color: var(--nav);
}
#header-logo {
  flex-basis: 10%;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  font-weight: 900;
  transition: 0.5s ease-in;
  /* text-align: center; */
}
#header-logo a:hover {
  color: var(--orange-color);
  transition: 0.8s ease-out;
}
#header-logo span {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}
.inner-heading #header-nav {
  flex-basis: 60%;
  width: 100%;
  font-size: 1.25rem;
  font-family: var(--font-secondary);
  padding: 0% 0% 0% 10%;
}
#header-nav a {
  position: relative;
  padding-left: 7%;
  color: var(--nav);
  font-weight: 300;
  letter-spacing: 3px;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#header-nav {
  display: block;
}
#header-nav a li::after {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  height: 1.5px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
#header-nav a li:hover::after {
  width: 100%;
}
#header-nav a:hover li {
  color: var(--primary-color);
}
#header-menu {
  flex-basis: 40%;
  width: 100%;
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#header-menu a {
  padding-left: 15%;
  display: block;
}
#header-menu a li {
  border: 1px solid var(--nav);
  border-radius: 5px;
  color: var(--nav);
  padding: 5% 5px;

  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#header-menu a:hover li {
  color: var(--text);
  border: 1px solid var(--text);
  transition: 0.5s ease-in-out;
}
#header-menu button {
  display: none;
  border: none;
  background-color: transparent;
}
#header-menu a:nth-child(2) li {
  background-color: rgb(42, 129, 141);
  border: 1px solid rgb(42, 129, 141);
  /* margin-left: 5%; */
  color: white;
  font-weight: 100;
}
#header-menu a:nth-child(2) li:hover {
  color: var(--primary-color);
  background-color: white;
  transition: 0.5s ease-in-out;
}
header a {
  text-decoration: none;
  color: var(--logo);
}
.header-container {
  width: 100%;
  height: 100%;
  /* color: white; */
  background-color: var(--background);
  margin: 0 auto;
  /* transition: background-color 1000ms; */
  /* transition: all 1000ms; */
}
.inner-heading {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: space-between;
  align-items: center;

  /* margin: 0 auto; */
}
.inner-heading ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#header-logo {
  padding-left: 7%;
}
#header-menu {
  width: 12%;
  height: 70%;
  padding-right: 5%;
}

#header-logo {
  font-size: 2rem;
  font-weight: 800;
}
#contact-top {
  padding: 2% 0%;
  text-align: center;
}
#contact-top h1 {
  color: white;
  font-weight: 500;
  font-size: 2.5rem;
  padding-bottom: 1%;
  letter-spacing: 2px;
}
#contactbox {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 2% 0%;
  /* overflow: scroll; */
}
#contactinfo {
  width: 100%;
  height: 100%;
  /* flex-basis: 25%; */
  margin: 0% 5% 0% 15%;
  padding: 2% 0%;
}
#messagebox {
  width: 100%;
  height: 100%;
  /* flex-basis: 25%; */
  margin: 0% 20% 0% 10%;
  padding: 2% 1%;
  color: black;
  /* padding: 5% 5% 5% 5%; */
  /* border: 2px solid black; */
}
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 5%;
  padding: 2% 5%;
  background-color: rgba(0, 173, 186, 0.1);
}
#contactbox .contact div {
  flex-basis: 90%;
  width: 100%;
  margin: 0% 0%;
  padding: 0% 5%;
}
#contactbox .contact div:first-child {
  flex-basis: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 20%; */
  width: 4rem;
  height: 4rem;
  background-color: white;
  border-radius: 50px;
  border: none;
  padding: 0% 1.1%;
}
.contact a {
  text-decoration: none;
}
.contact img {
  /* border: 2px solid white; */
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  /* padding: 20% 10%; */
}
.contact h3 {
  color: #01b7ffda;
}
.contact a {
  color: white;
}
#messagebox > * {
  color: white;
}
#messagebox h3 {
  font-size: 1.75rem;
  padding: 2%;
  font-weight: 400;
  text-align: center;
}
#messagebox input {
  border: none;
  background-color: transparent;
  padding: 4% 0%;
  outline: none;
  border-bottom: 2px solid white;
  width: 100%;
}
#messagebox form {
  border: 2px solid rgba(0, 0, 0, 0.317);
  padding: 7%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.317);
}
#messagebox div {
  padding: 1%;
}
input {
  color: whitesmoke;
}
footer {
  width: 100%;
  position: relative;
  /* height: 40px; */
}
footer div {
  text-align: center;
  color: white;
  bottom: 0;
}

@media screen and (max-width: 900px) {
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: white;
    background: rgb(15, 67, 71);
    background: linear-gradient(
        125deg,
        rgba(15, 67, 71, 0.8) 0%,
        rgba(15, 67, 71, 0.6) 50%,
        rgba(15, 67, 71, 0.8) 100%
      ),
      url("../images/contactbg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;
    backdrop-filter: blur(0px);
    height: auto;
  }
  main {
    /* margin-top: 80px; */
    width: 100%;
    padding: 2% 0%;

    /* height: auto; */
  }
  /* Header */
  #header-menu {
    width: 12%;
    height: 70%;
    padding-right: 5%;
  }
  #header-menu a {
    display: none;
  }
  #header-menu a li {
    border: none;
    padding: 0%;
  }
  #header-menu button {
    flex-basis: 20%;
    display: block;
    /* border: 2px solid brown; */
    padding: 0% 5%;
    width: 70px;
    height: 50px;
    background-image: url("../images/menu.png");
    /* background: no-repeat; */
    background-position: center;
    background-size: cover;
  }
  #header-nav {
    display: none;
  }

  #contact-top {
    /* position: absolute; */
    text-align: center;
    padding: 10% 0%;
    width: 100%;
    /* margin: 0 auto; */
  }
  #contact-top p {
    padding: 0% 5%;
  }
  #contactbox {
    display: block;
  }
  #contactinfo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* flex-basis: 25%; */
    margin: 0%;
    padding: 0%;
    text-align: center;
  }
  .contact {
    width: 50%;
  }
  #contactbox .contact div {
    padding: 5%;
  }
  #contactbox .contact div:first-child {
    flex-basis: 30%;
    /* border-radius: 2px; */
  }
  #contactbox .contact {
    flex-wrap: wrap;
  }
  #messagebox {
    /* width: 70%; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
    padding: 4%;
  }
}
