* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  /* background-color: #4f6d7f; */
    height: auto;
}
header {
  width: 100%;
  height: 65px;
  background-color: var(--background);
  z-index: 2;
  top: 0;
  right: 0;
  transition: all 1000ms;
}
.nav-scrolled {
  --logo: #00adba;
  --nav: rgba(56, 52, 52, 0.753);
  --background: white;
}
header div {
  transition: all 1000ms;
}
.header-container {
  width: 100%;
}
.inner-heading ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.inner-heading ul li {
  width: 100%;
  height: 100%;
  color: var(--nav);
}
#header-logo {
  flex-basis: 10%;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  font-weight: 900;
  transition: 0.5s ease-in;
}
#header-logo a:hover {
  color: var(--orange-color);
  transition: 0.8s ease-out;
}
#header-logo span {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}
.inner-heading #header-nav {
  flex-basis: 60%;
  width: 100%;
  font-size: 1.25rem;
  font-family: var(--font-secondary);
  padding: 0% 0% 0% 10%;
}
#header-nav a {
  position: relative;
  margin-left: 7%;
  color: var(--nav);
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 3px;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#header-nav {
  display: block;
}
#header-nav a li::after {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  height: 1.5px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
#header-nav a li:hover::after {
  width: 100%;
}
#header-nav a:hover li {
  color: var(--primary-color);
}
#header-menu {
  flex-basis: 40%;
  width: 100%;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#header-menu ul {
  justify-content: flex-end;
}
#header-menu a {
  margin-left: 5%;
  display: block;
}
#header-menu a li {
  border: 1px solid var(--nav);
  border-radius: 5px;
  color: var(--nav);
  padding: 5% 5px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#header-menu a:hover li {
  color: var(--text);
  border: 1px solid var(--text);
  transition: 0.5s ease-in-out;
}
#header-menu button {
  display: none;
  border: none;
  background-color: transparent;
}
#header-menu a:nth-child(2) li {
  background-color: rgb(42, 129, 141);
  border: 1px solid rgb(42, 129, 141);
  color: white;
  font-weight: 100;
}
#header-menu a:nth-child(2) li:hover {
  color: var(--primary-color);
  background-color: white;
  transition: 0.5s ease-in-out;
}
header a {
  text-decoration: none;
  color: var(--logo);
}
.header-container {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  margin: 0 auto;
}
.inner-heading {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}
.inner-heading ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#header-logo {
  padding-left: 7%;
}
#header-menu {
  width: 12%;
  height: 70%;
  padding-right: 5%;
}
#header-logo {
  font-size: 2rem;
  font-weight: 800;
}
body header h2 {
  font-size: 2rem;
}
main {
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  ), url("../images/buildpic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  text-align: center;
  color: var(--orange-color);
  /* background-color: rgba(0, 0, 0, 0.771); */
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 5px;
  font-size: 3rem;
}

section {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
section div {
  border: 2px solid #1f777d;
  flex-basis: 35%;
}
#set_output {
  background-color: rgba(0, 0, 0, 0.608);
}
h2 {
  text-align: center;
  padding: 2% 0%;
}
input {
  caret-color: black;
}
#generator {
  width: 100%;
  height: 100%;
  margin: 1% 0%;
  border: none;
  color: rgb(221, 220, 220);
  font-weight: 500;
}
.choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 5%;
  margin: 1%;
  border-radius: 6px;
  background-color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 2px solid #1f777d;
}
.choice div {
  border: none;
  font-size: larger;
  font-weight: 700;
  letter-spacing: 1px;
  color: #1f777d;
}
.button-26 {
  appearance: button;
  background-color: var(--orange-color);
  border: 1px solid var(--orange-color);
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 17px;
  line-height: 1.15;
  overflow: visible;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
}
.button-26:disabled {
  opacity: 0.5;
}
.button-26:focus {
  outline: 0;
}
.button-26:hover {
  background-color: #228b93;
  border-color: #1b848c;
}
.button-26:active {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
#set_output {
  width: 100%;
  height: 270px;
  position: relative;
  padding: 3%;
  border-radius: 6px;
  margin-bottom: 2%;
}
#set_output div {
  height: 100%;
  display: none;
}
#option1 { 
  flex-wrap: wrap;
  overflow-y: scroll;
  border: none;
}
#option1 input {
  height: 15%;
  padding: 0%;
  padding-left: 2%;
}
#option2 { 
  flex-wrap: wrap;
  overflow-y: scroll;
  border: none;
}
#option3 { 
  flex-wrap: wrap;
  overflow-y: scroll;
  border: none;
}
#option4 { 
  flex-wrap: wrap;
  overflow-y: scroll;
  border: none;
}
#option3 input {
  padding: 0%;
  height: 15%;
  padding-left: 2%;
}
#options_container {
  padding: 2% 0% 3% 2%;
  margin-top: 2%;
  margin-left: 0%;
  width: 100%;
}
#options_container > * {
  margin: 1% 0%;
}
#options_container button {
  width: 45%;
  padding-left: 1%;
}
#options_container input { 
  height: 40%;
  width: 50%;
  border: 2px solid #1f777d;
}
.options > * {
  width: 50%;
  padding: 0% 0%;
  margin: 0.5% 0%;
  border: 2px solid #1f777d;

}
.options input {
  padding: 0%;
  padding-left: 2%;
}
.options label {
  font-size: larger;
  width: 40%;
  border: none;
}
.usebuttons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  border: none;
}
.usebuttons button {
  margin: 0% 1%;
}
.showmenu {
  display: contents;
}
#form_choice {
  border-radius: 6px;
  border: none;
}
#form_page {
  margin: 2% 0%;
  padding: 1%;
  height: 500px;
  overflow-x: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  border-radius: 3px;
  border: none;
  background-color: whitesmoke;
}
#form_page h2 {
  padding-bottom: 3%;
}
#form_page p {
  padding-bottom: 3%;
  text-align: center;
}
#form_page form {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 400px;
  padding: 2% 7%;
  background-color: transparent;
  border-radius: 4px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
#form_page form > * {
  display: block;
  border: none;
  border-bottom: 2px solid black;
  padding-bottom: 0.5%;
  outline: none;
  width: 70%;
}
#form_page form label {
  border: none;
  padding: 0% 0% 1% 0%;
}
#form_page form input {
  margin: 0% 0% 5% 0%;
  background-color: whitesmoke;
}
#form_page fieldset {
  border: none;
  padding: 2% 0%;
}
#form_page span {
  display: block;
}
#form_page span > * {
  margin: 0% 2%;
}

@media screen and (max-width: 900px) {
  /* Header */
  #header-menu {
    width: 12%;
    height: 70%;
    padding-right: 5%;
  }
  #header-menu ul {
    justify-content: flex-end;
  }
  #header-menu a {
    display: none;
  }
  #header-menu a li {
    border: none;
    padding: 0%;
  }
  #header-menu button {
    flex-basis: 20%;
    display: block;
    padding: 0% 5%;
    width: 70px;
    height: 50px;
    background-image: url("../images/menu.png");
    background-position: center;
    background-size: cover;
  }
  #header-nav {
    display: none;
  }
  main {
  }
  section {
    display: block;
    padding: 0% 5%;

  }
  #form_page {
    height: 300px;
  }

}