body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: absolute;
}
/* Header */

header {
  width: 100%;
  height: 80px;
  background-color: var(--background);
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  transition: all 1000ms;
}
.nav-scrolled {
  --logo: #00adba;
  --nav: rgba(56, 52, 52, 0.753);
  --background: white;
  /* transition: background-color 1000ms ease-in-out; */
  /* background-color: white; */
}
header div {
  transition: all 1000ms;
  /* transition: background-color 1000ms; */
}
#header-nav {
  display: none;
}
header a {
  text-decoration: none;
  color: var(--logo);
}
.header-container {
  width: 100%;
  height: 100%;
  /* color: white; */
  background-color: var(--background);
  margin: 0 auto;
  /* transition: background-color 1000ms; */
  /* transition: all 1000ms; */
}
.inner-heading {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: space-between;
  align-items: center;

  /* margin: 0 auto; */
}
.inner-heading ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#header-logo {
  padding-left: 7%;
}
#header-menu {
  width: 12%;
  height: 70%;
  padding-right: 5%;
}
#header-menu a {
  display: none;
}
#header-menu a:last-child {
  flex-basis: 100%;
  display: block;
  /* border: 2px solid brown; */
  padding: 5% 0%;
  width: 100%;
  height: 100%;
  background-image: url("../images/menu.png");
  /* background: no-repeat; */
  /* background-position: center; */
  background-size: cover;
}
#header-logo {
  font-size: 2rem;
  font-weight: 800;
}

/* Hero Section */

#herosection {
  background-image: linear-gradient(
      180.43deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("../images/usingpc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: auto;
  /* margin-top: 15%; */
  padding-bottom: 10%;
}
#herosection div {
  padding: 25% 0% 15% 0%;
}
#herosection div h1 {
  padding: 15% 5%;
  font-size: 3.5rem;
  font-weight: 600;
}
#herosection div h2 {
  color: var(--lighter-text-color);
  font-size: 28px;
}
#herosection p {
  /* display: none; */
  /* text-align: center; */
  color: white;
  padding: 5% 15%;
  font-weight: 400;
  font-size: 1.5rem;
}
#herosection button {
  /* border: none; */
  /* color: var(--orange-color); */
  /* background-color: transparent; */
  /* font-size: 40px; */
  /* font-family: var(--font-main); */
  border-radius: 5px;
  padding: 0.3% 1.5% 0.5% 1.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 2%;
  color: white;
  background-color: rgb(223, 102, 37);
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 2px;
}
/* Testimonial section */
#testimonial {
  height: auto;
  color: var(--accent-color);
  background-color: var(--lighter-bg-color);
  padding: 10%;
}
#testimonial h2 {
  font-size: 32px;
  padding: 5%;
}
#testimonial h3 {
  font-size: 26px;
  color: var(--orange-color);
}
.testimonybox {
  background-color: var(--lighter-bgshade-color);
  margin-top: 15%;
  padding: 5% 7%;
}
.testimonybox q {
  font-size: 175%;
  font-family: var(--font-quote);
  color: var(--light-accent-color);
  padding: 5% 0%;
}
.testimonybox h3 {
  padding: 5%;
}
.testimonybox img {
  width: 15%;
  height: 15%;
  padding: 5%;
}
/* Benefits */
#benefits {
  background-color: var(--lighter-primary-color);
  color: white;
  height: auto;
  padding: 10%;
}
#benefits * {
  padding: 5%;
}
#benefits h2 {
  color: white;
  font-weight: 300;
  font-size: 32px;
}
#benefits h3 {
  color: var(--orange-color);
  font-weight: 200;
  font-size: 28px;
  padding-bottom: 7%;
}
#benefits h4 {
  font-size: 26;
}
#benefits .benefit p {
  font-size: 175%;
  font-family: var(--font-secondary);
  padding: 5% 0%;
}
#benefits .benefit img {
  padding: 0%;
  border-radius: 25px;
}
/* Call to Action */
#accounts {
  background-color: var(--lighter-bgshade-color);
  padding: 20% 10%;
}
#accounts h2 {
  font-size: 32px;
  padding: 10% 0%;
}
.button {
  font-size: 2rem;
  font-family: var(--font-secondary);
  padding: 10%;
  margin: 5% 0%;
  border-radius: 25px;
  background-color: var(--lighter-orange-color);
}
.button:active {
  background-color: white;
  color: var(--lighter-orange-color);
  transition: 0.3s;
}
#accounts a {
  padding: 10%;
  font-weight: 300;
  margin: 0% 5%;
}
#accounts a:any-link {
  color: white;
  text-decoration: none;
}
/* Footer */
footer {
  background-color: var(--primary-color);
  text-decoration: none;
  color: white;
}
footer a:any-link {
  color: white;
  text-decoration: none;
}
footer img {
  width: 20px;
  height: 20px;
}
footer li {
  list-style: none;
}
.foot-top {
  padding: 6%;
}
.foot {
  padding: 4%;
}
.foot a {
  padding: 2%;
}
.foot button:hover {
  color: var(--orange-color);
  transition: 0.3s;
}
.foot a:hover {
  color: var(--orange-color);
  transition: 0.3s;
}
.foot .logo {
  font-size: 30px;
}
.foot input {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--lighter-primary-color);
  border: none;
  font-size: 16px;
}
.foot button {
  color: white;
  border: none;
  background-color: transparent;
  font-size: 16px;
}
#foot-bottom #foot-right a:hover {
  color: var(--orange-color);
  transition: 0.3s;
}

/* Desktop and pc */
@media only screen and (min-width: 620px) {
  /* Header */

  .header-container {
    width: 100%;
  }
  .inner-heading ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .inner-heading ul li {
    width: 100%;
    height: 100%;
    color: var(--nav);
  }
  #header-logo {
    flex-basis: 10%;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    font-weight: 900;
    transition: 0.5s ease-in;
    /* text-align: center; */
  }
  #header-logo a:hover {
    color: var(--orange-color);
    transition: 0.8s ease-out;
  }
  #header-logo span {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
  }
  .inner-heading #header-nav {
    flex-basis: 60%;
    width: 100%;
    font-size: 1.25rem;
    font-family: var(--font-secondary);
    padding: 0% 0% 0% 10%;
  }
  #header-nav a {
    position: relative;
    padding-left: 7%;
    color: var(--nav);
    font-weight: 300;
    letter-spacing: 3px;
    transition: 0.3s ease-in-out;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  #header-nav {
    display: block;
  }
  #header-nav a li::after {
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    height: 1.5px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  #header-nav a li:hover::after {
    width: 100%;
  }
  #header-nav a:hover li {
    color: var(--primary-color);
  }
  /* #header-nav ul {
    width: 100%;
    height: 100%;
    margin: 0% auto;
  }
  #header-nav ul a {
    width: 100%;
    height: 100%;
    flex-basis: 15%;
  }
   */
  #header-menu {
    flex-basis: 30%;
    width: 100%;
    font-size: 1.35rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  #header-menu a {
    padding-left: 15%;
    display: block;
  }
  #header-menu a li {
    border: 1px solid var(--nav);
    border-radius: 10px;
    color: var(--nav);
    padding: 5% 15%;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  #header-menu a:hover li {
    color: var(--text);
    border: 1px solid var(--text);
    transition: 0.5s ease-in-out;
  }
  #header-menu a:last-child {
    display: none;
  }
  #header-menu a:nth-child(2) li {
    background-color: rgb(42, 129, 141);
    border: 1px solid rgb(42, 129, 141);
    /* margin-left: 5%; */
    color: white;
  }
  #header-menu a:nth-child(2) li:hover {
    color: var(--primary-color);
    background-color: white;
    transition: 0.5s ease-in-out;
  }

  /* Hero Section  */
  #herosection {
    background: rgb(249, 247, 246);
    background: linear-gradient(
        180.43deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.8) 100%
      ),
      url("../images/bg-option2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    /* margin: 0%; */
    height: auto;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    /* position: fixed; */
    /* padding: 0%; */
    /* padding-bottom: 0%; */
  }
  #herosection div {
    padding: 8% 5%;
    margin: 5%;
  }
  #herosection div h1 {
    font-size: 4.3rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1.5% 2% 2% 1.5%;
    color: white;
  }
  #herosection div p {
    display: block;
    color: var(--lighter-text-color);
    font-size: 1.2rem;
    font-weight: 300;
    padding: 1% 2%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  body #herosection button {
    /* border: 3px solid var(--orange-color); */
    border-radius: 5px;
    padding: 0.3% 1.5% 0.5% 1.5%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 2%;
    color: white;
    background-color: rgb(223, 102, 37);
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    /* font-family: var(--font-main); */
  }
  #herosection button:hover {
    color: white;
    background-color: rgba(255, 89, 0, 0.863);
  }
  #testimony-container {
    display: flex;
    height: 80vh;
  }
  .testimonybox {
    flex-basis: 25%;
    padding: 2%;
    margin: 2%;
    overflow: hidden;
    height: 55vh;
    border-radius: 15 px;
    border-top: 5px solid var(--orange-color);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: 0.1s;

    /* font-size: 120%; */
  }
  #testimony-container .testimonybox q {
    font-size: 130%;
  }
  .testimonybox:hover {
    overflow: visible;
    height: 80%;
    transition: 0.1s;
    background-color: rgba(0, 173, 186, 0.35);
    border-bottom: 5px solid var(--lighter-orange-color);
  }
  #testimony-container .testimonybox:hover {
  }
  #testimony-container .testimonybox:hover q {
    font-size: 150%;
  }
  .testimonybox:hover q {
    color: var(--white-color);
    font-size: 150%;
  }
  .testimonybox img {
    height: 13%;
    width: auto;
  }
  .testimonybox:hover img {
    height: 13%;
    width: auto;
  }
  #benefits {
    padding: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  #benefits .benefit img {
    border-radius: 10px;
  }
  .benefit {
    display: flex;
    text-align: center;
    position: relative;
    padding: 5%;
    margin: 5% 0% 25% 0%;
  }
  .benefit:nth-child(2n) {
    /* flex-direction: row-reverse; */
  }
  .benefit img {
    flex-basis: 50%;
    padding: 5%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 60%;
    height: 330%;
  }
  #benefits .benefit p {
    flex-basis: 50%;
    /* padding: 0% 5% 5% 5%; */
    position: absolute;
    right: 0;
    /* left: 0; */
    bottom: 0;
    font-size: 1.75rem;
    top: 0;
    width: 30%;
    height: 100%;
    /* box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset; */
    /* overflow: hidden; */
  }
  .benefit p:hover {
    /* overflow-y: auto; */
  }
  #accounts {
    /* position: relative; */
    text-align: center;
    background-image: url("../images/calltoaction.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  #accounts h2 {
    padding: 5% 0%;
    font-size: 3rem;
  }
  #account {
    display: flex;
    text-align: center;
    width: 100%;
    font-size: 3rem;
    /* padding-left: 10%; */

    /* flex-basis: 100%; */
  }
  .button {
    /* display: flex; */
    flex-basis: 50%;
    border-radius: 15px;
    /* margin: 0% auto; */
    width: 100%;
    text-align: center;
    font-size: 2rem;
    /* position: absolute; */
  }
  .button:hover {
    color: var(--lighter-bgshade-color);
  }
  .foot-top {
    padding: 2%;
  }
  .foot {
    padding: 2%;
  }
  .foot a {
    padding: 2%;
  }
}
/* @media only screen and (min-width: 620px) {
  #header-right {
    padding-left: 10%;
  }
  #header-left {
    flex-basis: 10%;
    flex-shrink: 1;
    font-size: 2rem;
  }
  #header-right {
    flex-basis: 90%;
    flex-grow: 1;
    text-align: right;
  }
} */
