* {
  box-sizing: border-box;
}
::placeholder {
  color: rgba(255, 255, 255, 0.637);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.603);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.616);
}
body {
  /* margin: 0% auto; */
  /* background-attachment: fixed; */
  background: linear-gradient(
      180.43deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("../images/bg-option2.jpg");
  /* backdrop-filter: blur(5px); */
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  font-family: var(--font-main);
  /* margin: 0%; */
  /* box-shadow: 0 0 200px rgba(255, 255, 255, 0.5); */
  /* box-shadow: rgba(255, 255, 255, 0.5); */
  /* filter: blur(10px); */
}
body section {
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}
#container {
  display: flex;
  margin: 3% 20%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  /* height: 90%; */
  /* backdrop-filter: blur(5px); */
  /* box-shadow: 0 0 200px rgba(255, 255, 255, 0.5); */
}
#container div {
  flex-basis: 50%;
  /* width: 50%; */
  border-radius: 10px;
  filter: none;
}
/* #left-card {
}
#left-card img {
  width: 100%;
  border-radius: 10px 0px 0px 10px;
  height: 100.1%;
  overflow: hidden;
} */
#right-card {
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.588);
  padding: 4%;
  /* height: 90%; */
  color: white;
  text-align: center;

  /* overflow: hidden; */
  /* height: 200%; */
}
#right-card a {
  color: var(--orange-color);
  text-decoration: none;
}
#right-card button {
}
#right-card div {
  padding: 2%;
}
#right-card h1 {
  font-size: 2rem;
  padding: 1.5%;
}
#right-card div:first-child {
  color: var(--lighter-primary-color);
}
input {
  border: none;
  width: 15rem;
  height: 2rem;
  padding-left: 2%;
  border-bottom: 2px solid var(--lighter-primary-color);
  background-color: rgba(255, 255, 255, 0.246);
  border-radius: 2px;
  color: whitesmoke;
  outline: none;
  text-align: left;
}
#showpassword {
  width: auto;
  height: auto;
}
input.btn {
  background-color: var(--lighter-primary-color);
  color: white;
  text-align: center;
  border-radius: 2rem;
}
input.btn:hover {
  background-color: var(--primary-color);
}
#logo {
  font-size: x-large;
}
@media (max-width: 1100px) {
  section {
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
  }
  /* #left-card {
    display: none;
  } */
  /* #container div {
    flex-basis: 100%;
  } */
  #container {
    margin: 15% 5% 2% 5%;

    justify-content: center;

    /* height: 90%; */
    /* text-align: center; */
  }
}
