* {
  padding: 0;
  margin: 0;
  max-width: 100%;
  /* overflow: hidden; */
  position: relative;
  list-style: none;
  box-sizing: border-box;
}
/* Variables */
:root {
  --primary-color: #002728;
  --lighter-primary-color: rgba(0, 173, 186, 0.75);
  --accent-color: #00a9c1;
  --light-accent-color: rgba(0, 169, 193, 0.6);
  --darker-shade: #4e9d9f;
  --lighter-text-color: #e6f4f1;
  --lighter-bg-color: rgba(235, 253, 253, 0.2);
  --lighter-bgshade-color: rgba(235, 253, 253, 1);
  --white-color: #ffffff;
  --offwhite-color: #f5f5f5;
  --orange-color: rgba(230, 110, 46, 1);
  --lighter-orange-color: rgba(230, 110, 46, 0.8);
  --text: var(--orange-color);
  --logo: white;
  --nav: rgba(255, 255, 255, 0.726);
  --background: transparent;
  --font-main: Bree Serif;
  --font-quote: Raleway;
  --font-secondary: Lato;
}

/* Ready Classes */
/* Width Ready Classes */

.fifteen {
  width: 15%;
}
/* 20% wide */
.twenty {
  width: 20%;
}

/* 25% wide */
.twenty-five {
  width: 25%;
}

/* 30% wide */
.thirty {
  width: 30%;
}

/* 35% wide */
.thirty-five {
  width: 35%;
}

/* 40% wide */
.forty {
  width: 40%;
}

/* 45% wide */
.forty-five {
  width: 45%;
}

/* 50% wide */
.fifty {
  width: 50%;
}

/* 55% wide */
.fifty-five {
  width: 55%;
}

/* 60% wide */
.sixty {
  width: 60%;
}

/* 70% wide */
.seventy {
  width: 70%;
}

/* 75% wide */
.seventy-five {
  width: 75%;
}

/* 80% wide */
.eighty {
  width: 80%;
}

/* 100% wide */
.full {
  width: 100%;
}
/* Flexbox Ready Classes */
.flex {
  display: flex;
}
.flex-sb {
  justify-content: space-between;
}
.flex-ac {
  align-items: center;
}
.flex-jc {
  justify-content: center;
}
.flex-ae {
  align-items: flex-end;
}
.flex-je {
  justify-content: flex-end;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
/* Background Colors */

.bg-white {
  background-color: var(--white-color);
}

.bg-offwhite {
  background-color: var(--offwhite-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-lighter {
  background-color: var(--lighter-bg-color);
}

/* Text Colors */

.tc-wht {
  color: var(--white-color);
}

.tc-prim {
  color: var(--primary-color);
}

.tc-acc {
  color: var(--accent-color);
}
.tc-light {
  color: var(--lighter-text-color);
}
.tc-dark {
  color: var(--darker-shade);
}
.tc-orange {
  color: var(--orange-color);
}

/* Text Alignment */

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

::-webkit-scrollbar {
  width: 0.5em;
  /* scrollbar-width: thin; */
}
::-webkit-scrollbar-track {
  background: rgba(151, 149, 149, 0.519);
  /* border-radius: 100vw; */
  margin-block: 0em;
  /* width: 0em; */
}
::-webkit-scrollbar-thumb {
  background: rgba(151, 149, 149, 0.719);
  /* border: solid #f5f5f5; */
  /* border-radius: 100vw; */
}
input {
  caret-color: white;
}
.button-26 {
  appearance: button;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 17px;
  line-height: 1.15;
  overflow: visible;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
}

.button-26:disabled {
  opacity: 0.5;
}

.button-26:focus {
  outline: 0;
}

.button-26:hover {
  background-color: #02d2e1;
  border-color: #02cddc;
}

.button-26:active {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

 /* Aside Info */
 aside {
  display: none;
  width: 100%;
  padding-top: 80px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  /* transition: 0.3s all ease-in-out; */
}
#asideinfo {
  width: 100%;
  /* background-color: var(--primary-color); */
}
#asideinfo li {
  width: 100%;
  text-align: center;
  /* margin: 1% 0%; */
  /* background-color: white; */
}
#asideinfo a {
 text-decoration: none;
 color: var(--primary-color);
 /* border: 3px solid var(--primary-color); */
 width: 100%;
 display: block;
 padding: 10px 0%;
 font-size: larger;
}
#signin ul {
  display: flex;
  padding-top: 5%;
  padding-bottom: 2%;
  justify-content: space-between;
  /* background-color: white; */
}
#signin li {
 text-align: center;
 flex-basis: 45%;
 /* width: 100%;  */
}
#signin a {
 text-decoration: none;
 color: var(--orange-color);
 border: 2px solid var(--orange-color);
 border-radius: 5px;
 /* background-color: white; */
 width: 100%;
 display: block;
 padding: 10px 0%;
 font-size: x-large;

}
.example {
  overflow-x: scroll;
  overflow-y: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
