* {
  padding: 0;
  margin: 0;
  max-width: 100%;
  /* overflow: hidden; */
  position: relative;
}
/* Variables */
:root {
  --primary-color: #00adba;
  --lighter-primary-color: rgba(0, 173, 186, 0.75);
  --accent-color: #00a9c1;
  --light-accent-color: rgba(0, 169, 193, 0.6);
  --darker-shade: #4e9d9f;
  --lighter-text-color: #e6f4f1;
  --lighter-bg-color: rgba(235, 253, 253, 0.2);
  --lighter-bgshade-color: rgba(235, 253, 253, 1);
  --white-color: #ffffff;
  --offwhite-color: #f5f5f5;
  --orange-color: rgba(230, 110, 46, 1);
  --lighter-orange-color: rgba(230, 110, 46, 0.8);
  --font-main: Bree Serif;
  --font-quote: Raleway;
  --font-secondary: Lato;
}

/* Ready Classes */
/* Width Ready Classes */

.fifteen {
  width: 15%;
}
/* 20% wide */
.twenty {
  width: 20%;
}

/* 25% wide */
.twenty-five {
  width: 25%;
}

/* 30% wide */
.thirty {
  width: 30%;
}

/* 35% wide */
.thirty-five {
  width: 35%;
}

/* 40% wide */
.forty {
  width: 40%;
}

/* 45% wide */
.forty-five {
  width: 45%;
}

/* 50% wide */
.fifty {
  width: 50%;
}

/* 55% wide */
.fifty-five {
  width: 55%;
}

/* 60% wide */
.sixty {
  width: 60%;
}

/* 70% wide */
.seventy {
  width: 70%;
}

/* 75% wide */
.seventy-five {
  width: 75%;
}

/* 80% wide */
.eighty {
  width: 80%;
}

/* 100% wide */
.full {
  width: 100%;
}
/* Flexbox Ready Classes */
.flex {
  display: flex;
}
.flex-sb {
  justify-content: space-between;
}
.flex-ac {
  align-items: center;
}
.flex-jc {
  justify-content: center;
}
.flex-ae {
  align-items: flex-end;
}
.flex-je {
  justify-content: flex-end;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
/* Background Colors */

.bg-white {
  background-color: var(--white-color);
}

.bg-offwhite {
  background-color: var(--offwhite-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-lighter {
  background-color: var(--lighter-bg-color);
}

/* Text Colors */

.tc-wht {
  color: var(--white-color);
}

.tc-prim {
  color: var(--primary-color);
}

.tc-acc {
  color: var(--accent-color);
}
.tc-light {
  color: var(--lighter-text-color);
}
.tc-dark {
  color: var(--darker-shade);
}
.tc-orange {
  color: var(--orange-color);
}

/* Text Alignment */

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}
h1 {
  color: var(--lighter-text-color);
}
h2 {
  color: var(--darker-shade);
}
.btn {
  color: var(--orange-color);
}
